<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HazyTDP Sign up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <body class="container min-vh-100 bg-dark">
  <form action="/sign-up" method="post"
  enctype="multipart/form-data"
  >
   <style>
    /*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: rgb(25, 180, 43);
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(90, 164, 29, 0.5);
  box-shadow: inset 0 0 5rem rgba(25, 148, 88, 0.5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(0, 253, 76, 0.5);
  border-bottom: .10rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgb(204, 255, 0);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: rgb(134, 227, 12);
  border-bottom-color: rgb(11, 233, 126);
}
    </style>
   </head>
  

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Welcome To HazyTDP</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0" href="/sign-out">Login In</a>
      </nav>
    </div>
  </header>

  <form class="row gy-2 gx-3 align-items-center" method="post">
  <div class="col-auto">
  </div>
  <div class="col-auto">

  <div class="mb-2">
     <label for="exampleInputEmail1" class="form-label">Username</label>
    <input name="Username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    <label for="exampleInputEmail1" class="form-label">Profile</label>
    <input name="Profile" type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input name="Email"; type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
     <div id="emailHelp" class="form-text">Your Email is safe with us</div>
    
  </div>
  <div class="mb-2">
   
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input name="Password"type="password" class="form-control" id="exampleInputPassword1">
  </div>
   <div class="mb-2">
   
    <label for="exampleInputPassword1" class="form-label">Birthday</label>
    <input name="Birthday" type="date" class="form-control" id="exampleInputPassword1">

     <label for="exampleInputEmail1" class="form-label">Display Name</label>
    <input name="Display Name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    <label for="exampleInputEmail1" class="form-label">Biography</label>
    <input name="Biography" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
 
 
  <div class="mb-3 form-check">
    <input name=Username; type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check if your done</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
  </body>
</html>